@import 'vars';

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: rgb(5, 1, 20);
	font-family: Montserrat;
}

#app {
	text-align: center;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
