@import '../../vars';

.clocks {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto 40px auto;

	@media screen and (max-width: $break-tablet) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 100px;
		justify-items: center;
	}

	@media screen and (max-width: 550px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 380px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
