@import '../../vars';

.clock {
	position: relative;
	min-width: 150px;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	margin-top: 120px;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;

	@media screen and (max-width: $break-tablet) {
		margin-top: 0;
	}

	&:not(:first-child) {
		margin-left: 20px;

		@media screen and (max-width: $break-tablet) {
			margin-left: 0;
		}
	}

	> div:not(.infos) {
		$rotate: var(--rotate);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotateZ($rotate);
		background-color: transparent;

		&.seconds {
			width: 80%;
			height: 2px;
		}

		&.minutes {
			width: 90%;
			height: 4px;
		}

		&.hours {
			width: 50%;
			height: 5px;
		}

		&:before {
			content: '';
			width: 50%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #fff;
			border-radius: 30px;
		}
	}

	> div.infos {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		bottom: -80px;
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		font-size: 20px;
	}
}
